<div class="row mt-4 justify-content-center">

  <div class="col-md-2 d-flex justify-content-center">
    <div class="card" style="width: 15rem">
      <img [src]="photo" class="card-img-top" />
      <div class="card-body">
        <a class="btn btn-secondary" (click)="onClick(text.routes.r1)">
          {{ text.actions.navigate }} {{ text.routes.label1 }}
        </a>
      </div>
    </div>
  </div>
  
  <div class="col-md-2 d-flex justify-content-center">
    <div class="card" style="width: 15rem">
      <img [src]="photo" class="card-img-top" />
      <div class="card-body">
        <a class="btn btn-secondary" (click)="onClick(text.routes.r2)">
          {{ text.actions.navigate }} {{ text.routes.label2 }}
        </a>
      </div>
    </div>
  </div>
  
  <div class="col-md-2 d-flex justify-content-center">
    <div class="card" style="width: 15rem">
      <img [src]="photo" class="card-img-top" />
      <div class="card-body">
        <a class="btn btn-secondary" (click)="onClick(text.routes.r3)">
          {{ text.actions.navigate }} {{ text.routes.label3 }}
        </a>
      </div>
    </div>
  </div>
  
  <div class="col-md-2 d-flex justify-content-center">
    <div class="card" style="width: 15rem">
      <img [src]="photo" class="card-img-top" />
      <div class="card-body">
        <a class="btn btn-secondary" (click)="onClick(text.routes.r4)">
          {{ text.actions.navigate }} {{ text.routes.label4 }}
        </a>
      </div>
    </div>
  </div>

    <div class="col-md-2 d-flex justify-content-center">
      <div class="card" style="width: 15rem">
        <img [src]="photo" class="card-img-top" />
        <div class="card-body">
          <a class="btn btn-secondary" (click)="onClick(text.routes.err)">
            {{ text.actions.navigate }} {{ text.routes.err }}
          </a>
        </div>
      </div>
   </div>

</div>
