<div class="row mt-4">
  <div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        <h5>{{h5Text}}</h5>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th *ngFor="let text of tHeadLabels">
                {{ text }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderList">
              <td>{{order.description}}</td>
              <td>{{ order.total}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <button class="btn btn-outline-secondary btn-sm" (click)="navigateTo()">
            {{buttonText}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>