footer {
    margin-top: 5rem;
    background: #1b263b;
    color: #fff;
  }
  
.container {
    padding: 5rem;
}
  
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-brand img {
    max-height: 80px;
}
