<footer>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-collapse">
        <a class="navbar-brand">
          <img src="assets/logos/nsa-logo-white.png" alt="Logo" />
        </a>
        <div class="social-links">
          <a href="https://www.instagram.com">
            <img src="assets/socials/ig.png" alt="IG" />
          </a>
          <a href="https://www.facebook.com">
            <img src="assets/socials/fb.png" alt="FB" />
          </a>
        </div>
      </div>
    </nav>
    <p>&copy; 2025 Robert Joseph Jr Pascual Lorenzana. All rights reserved.</p>
  </div>
</footer>
