<div class="row mt-4">
  <div class="col-10 mx-auto"> 
    <div class="card">
      <div class="card-header text-center">
        <h5>Prodotti in evidenza</h5>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th *ngFor="let text of tHeadLabels">{{ text }}</th>
              <th> {{actions}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products">
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price | currency: 'EUR' }}</td>
              <td> 
                <button class="btn btn-outline-secondary btn-sm me-2" (click)="updateProducts(item.id)">
                  <i class="bi bi-info-circle"></i>  
                </button>
                <button class="btn btn-outline-secondary btn-sm me-2" (click)="removeProduct(item.id)">
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <button class="btn btn-outline-secondary btn-sm" (click)="navigateAddProduct()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
